<div class="jumbotron center"> 
  <h1>Welcome to MyRecipies</h1>
  <h2>the best recipe sharing app!</h2>
  <p><%= link_to "sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div> 